* {
  margin: 0;
  padding: 0;
}
html,
body,
#app {
  height: 100%;
}

@import "@/components/style.scss";

.app-container {
  padding: 50px;
  border:1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  top: 100px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .react-svg-icon {
    font-size: 40px;
    border:1px solid #ccc;
    margin-right: 20px;
  }
}
