@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

.app-container {
  .is-body {
    padding: 100px 0 0;
    background: #fff;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
  }

  .is-item {
    text-align: center;
  }

  .is-item + .is-item {
    margin-top: 30px;
  }
  .react-svg-icon {
    font-size: 40px;
    border: 1px solid #ccc;
    vertical-align: middle;
    & + .react-svg-icon {
      margin-left: 30px;
    }

    &:hover {
      border-color: #f60;
    }
  }
}
